In [38]:
import pandas as pd
import numpy as np

In [39]:
dataset = pd.read_csv('1_WaterWellDev.csv')
data = dataset.values

In [40]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
State             32 non-null object
Upto 1986-87      21 non-null float64
During 1987-88    21 non-null float64
During 1988-89    21 non-null float64
During 1989-90    21 non-null float64
During 1990-91    21 non-null float64
During 1991-92    21 non-null float64
During 1992-93    21 non-null float64
During 1993-94    21 non-null float64
Total             21 non-null float64
dtypes: float64(9), object(1)
memory usage: 2.6+ KB
None

In [41]:
print(dataset.tail())

                   State  Upto 1986-87  During 1987-88  During 1988-89  \
27  DADRA & NAGAR HAVELI           NaN             NaN             NaN
28           DAMAN & DIU           NaN             NaN             NaN
29                 DELHI         157.0            80.0            65.0
30           LAKSHADWEEP           NaN             NaN             NaN
31           PONDICHERRY         170.0            16.0            29.0

    During 1989-90  During 1990-91  During 1991-92  During 1992-93  \
27             NaN             NaN             NaN             NaN
28             NaN             NaN             NaN             NaN
29            50.0           116.0            91.0            78.0
30             NaN             NaN             NaN             NaN
31            47.0            49.0            39.0            31.0

    During 1993-94  Total
27             NaN    NaN
28             NaN    NaN
29            54.0  691.0
30             NaN    NaN
31            37.0  418.0

In [42]:
print(dataset.isnull())

    State  Upto 1986-87  During 1987-88  During 1988-89  During 1989-90  \
0   False         False           False           False           False
1   False          True            True            True            True
2   False         False           False           False           False
3   False         False           False           False           False
4   False         False           False           False           False
5   False          True            True            True            True
6   False         False           False           False           False
7   False         False           False           False           False
8   False         False           False           False           False
9   False         False           False           False           False
10  False         False           False           False           False
11  False         False           False           False           False
12  False          True            True            True            True
13  False          True            True            True            True
14  False         False           False           False           False
15  False          True            True            True            True
16  False         False           False           False           False
17  False         False           False           False           False
18  False         False           False           False           False
19  False         False           False           False           False
20  False          True            True            True            True
21  False         False           False           False           False
22  False         False           False           False           False
23  False         False           False           False           False
24  False         False           False           False           False
25  False          True            True            True            True
26  False          True            True            True            True
27  False          True            True            True            True
28  False          True            True            True            True
29  False         False           False           False           False
30  False          True            True            True            True
31  False         False           False           False           False

    During 1990-91  During 1991-92  During 1992-93  During 1993-94  Total
0            False           False           False           False  False
1             True            True            True            True   True
2            False           False           False           False  False
3            False           False           False           False  False
4            False           False           False           False  False
5             True            True            True            True   True
6            False           False           False           False  False
7            False           False           False           False  False
8            False           False           False           False  False
9            False           False           False           False  False
10           False           False           False           False  False
11           False           False           False           False  False
12            True            True            True            True   True
13            True            True            True            True   True
14           False           False           False           False  False
15            True            True            True            True   True
16           False           False           False           False  False
17           False           False           False           False  False
18           False           False           False           False  False
19           False           False           False           False  False
20            True            True            True            True   True
21           False           False           False           False  False
22           False           False           False           False  False
23           False           False           False           False  False
24           False           False           False           False  False
25            True            True            True            True   True
26            True            True            True            True   True
27            True            True            True            True   True
28            True            True            True            True   True
29           False           False           False           False  False
30            True            True            True            True   True
31           False           False           False           False  False

In [43]:
dataset.fillna(5)

,State,Upto 1986-87,During 1987-88,During 1988-89,During 1989-90,During 1990-91,During 1991-92,During 1992-93,During 1993-94,Total
0,ANDHRA PRADESH,9135.0,2130.0,2948.0,3761.0,3470.0,3767.0,3069.0,2936.0,31216.0
1,ARUNACHAL PRADESH,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,ASSAM,398.0,38.0,27.0,13.0,19.0,54.0,25.0,18.0,592.0
3,BIHAR,4493.0,288.0,297.0,254.0,176.0,163.0,352.0,417.0,6440.0
4,GOA,1.0,0.0,8.0,7.0,0.0,2.0,1.0,0.0,19.0
5,GUJARAT,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
6,HARYANA,2389.0,1371.0,712.0,639.0,454.0,372.0,299.0,178.0,6414.0
7,HIMACHAL PRADESH,166.0,25.0,9.0,5.0,7.0,10.0,2.0,6.0,230.0
8,JAMMU & KASHMIR,83.0,5.0,2.0,0.0,3.0,0.0,4.0,0.0,97.0
9,KARNATAKA,25538.0,12293.0,14016.0,18634.0,21339.0,20540.0,16183.0,22039.0,150582.0
10,KERALA,29.0,19.0,49.0,14.0,34.0,12.0,25.0,16.0,198.0
11,MADHYA PRADESH,7859.0,1962.0,1934.0,1571.0,3445.0,2681.0,2581.0,2418.0,24451.0
12,MAHARASHTRA,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
13,MANIPUR,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
14,MEGHALAYA,3.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,7.0
15,MIZORAM,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
16,NAGALAND,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,3.0
17,ORISSA,2344.0,155.0,73.0,71.0,89.0,66.0,57.0,56.0,2911.0
18,PUNJAB,720.0,198.0,254.0,368.0,287.0,134.0,153.0,163.0,2277.0
19,RAJASTHAN,1919.0,601.0,1094.0,923.0,1581.0,1822.0,2284.0,2326.0,12550.0
20,SIKKIM,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
21,TAMIL NADU,14582.0,2752.0,2684.0,3209.0,2844.0,2306.0,1288.0,3301.0,32966.0
22,TRIPURA,65.0,8.0,6.0,4.0,12.0,13.0,10.0,13.0,131.0
23,UTTAR PRADESH,8169.0,681.0,614.0,807.0,495.0,263.0,231.0,365.0,11625.0
24,WEST BENGAL,2787.0,125.0,82.0,80.0,122.0,195.0,241.0,407.0,4039.0
25,ANDAMAN & NICOBARS,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
26,CHANDIGARH,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
27,DADRA & NAGAR HAVELI,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
28,DAMAN & DIU,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
29,DELHI,157.0,80.0,65.0,50.0,116.0,91.0,78.0,54.0,691.0
30,LAKSHADWEEP,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
31,PONDICHERRY,170.0,16.0,29.0,47.0,49.0,39.0,31.0,37.0,418.0

In [44]:
no_na = dataset.dropna(axis=0)
no_na = no_na.reset_index()

In [45]:
new_df = no_na.iloc[0:, 1:]
new_df.to_csv('new_wellWaterDev.csv', index=False)